* {
  margin: 0;
  padding: 0;
}
.header-container {
  width: 100%;
  height: 150px;
  position: fixed;
  background-color: white;
  z-index: 200;
}
.nav-container {
  width: 90%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-container ul {
  width: 60%;
  height: 100%;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-container ul li {
  width: auto;
  height: 100%;
  text-align: center;
}
.nav-container ul a {
  line-height: 150px;
  padding: 50px 30px;
  text-decoration: none;
  color: #6c7380;
}
.nav-container ul li:hover {
  background-color: #eeeeee;
}
.sign-button {
  width: 320px;
  height: 60px;
  background-color: #14cc70;
  border-radius: 30px;
  border: 1px solid #14cc70;
}
.sign-button button {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid #14cc70;
  color: white;
  font-size: 20pt;
}
.main-container {
  width: 100%;
  height: 100%;
}
.first-container {
  width: 100%;
  height: 1400px;
  background-image: url(/images/heading_bg.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}
.first-title {
  width: 60%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.first-title h3 {
  width: 80%;
  color: white;
  font-size: 50pt;
  text-align: center;
}
.first-title p {
  margin: 50px 0;
  color: white;
  font-size: 35pt;
  text-align: center;
}
.first-button {
  width: 420px;
  height: 120px;
  border: 3px solid #14cc70;
  border-radius: 60px;
  background-color: transparent;
  color: white;
  font-size: 30pt;
  padding: 10px;
  cursor: pointer;
  outline: none;
}
.first-button i {
  margin-right: 10px;
}

.fa-play {
  border: 1px solid white;
  border-radius: 50%;
  padding: 16px 16px 16px 24px;
}
.second-container {
  position: relative;
}
.second-button {
  position: absolute;
  top: -75px;
  left: 40%;
  width: 600px;
  height: 150px;
}
.second-button button {
  width: 100%;
  height: 100%;
  background-color: #14cc70;
  border-radius: 75px;
  border: 1px solid #14cc70;
  color: white;
  font-size: 35pt;
  outline: none;
  cursor: pointer;
}
.third-container {
  width: 100%;
  height: 1800px;
  padding-bottom: 200px;
  background-image: url(/images/How_it_works_bg.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.third-title {
  width: 50%;
  padding-bottom: 50px;
  margin-bottom: 50px;
  margin-top: 150px;
  font-size: 40pt;
  text-align: center;
  color: #6c7380;
  border-bottom: 1px solid #b2b2b2;
}
.third-title h3 {
  font-weight: lighter;
}
.third-title span {
  color: #14cc70;
}
.third-percentage {
  width: 80%;
  height: 100%;
  margin-top: 50px;
}
.percentage-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row;
  justify-content: center;
}
.pie {
  width: 33.3%;
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.pie-container {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: #14cc70;
  position: relative;
}
.circle {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 100;
  transform: translate(-50%, -50%);
  width: 280px;
  height: 280px;
  background-color: white;
  border-radius: 50%;
}
.left,
.right {
  width: 150px;
  height: 300px;
  float: left;
  overflow: hidden;
}
.left {
  border-radius: 150px 0 0 150px;
}
.right {
  border-radius: 0 150px 150px 0;
}
.left-deg88,
.right-deg88 {
  width: 150px;
  height: 300px;
  background-color: #b2b2b2;
}
.left-deg88 {
  transform-origin: right center;
  transform: rotate(-180deg);
}
.right-deg88 {
  transform-origin: left center;
  transform: rotate(-133.2deg);
}
.left-deg67,
.right-deg67 {
  width: 150px;
  height: 300px;
  background-color: #b2b2b2;
}
.left-deg67 {
  transform-origin: right center;
  transform: rotate(-180deg);
}
.right-deg67 {
  transform-origin: left center;
  transform: rotate(-61.2deg);
}
.left-deg90,
.right-deg90 {
  width: 150px;
  height: 300px;
  background-color: #b2b2b2;
}
.left-deg90 {
  transform-origin: right center;
  transform: rotate(-180deg);
}
.right-deg90 {
  transform-origin: left center;
  transform: rotate(-144deg);
}
.pie-title {
  margin-top: 30px;
  color: #6c7380;
  text-align: center;
  display: flex;
  flex-flow: column;
}
.pie-title h3 {
  font-size: 30pt;
  font-weight: 500;
}
.pie-title p {
  font-size: 25pt;
  font-weight: 500;
}
.pie-number {
  position: absolute;
  top: 30%;
  left: 25%;
  font-size: 60pt;
  z-index: 101;
  color: #b2b2b2;
}
.third-footer {
  width: 80%;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.third-footer-title {
  width: 80%;
  padding: 100px 0;
  margin-bottom: 100px;
  border-bottom: 1px solid #b2b2b2;
}
.third-footer-title h3 {
  font-size: 40pt;
  text-align: center;
  color: #6c7380;
  font-weight: 500;
}
.third-footer-title span {
  color: #14cc70;
}
.third-footer-image {
  display: flex;
  align-items: center;
}
.third-footer-image img {
  width: 300px;
}
.third-footer-image h3 {
  font-size: 25pt;
  text-align: center;
  color: #6c7380;
  font-weight: 500;
  margin-left: 50px;
}
.main-fourth-container {
  position: relative;
  width: 100%;
  height: 1000px;
  background-image: url(/images/case-study.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}
.fourth-title {
  width: 80%;
  padding: 100px 0;
  margin: auto;
}
.fourth-title h3 {
  text-align: center;
  font-size: 40pt;
  color: #eeeeee;
  font-weight: 500;
}
.fourth-button-container {
  width: 80%;
  margin: auto;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.fourth-button1 {
  width: 25%;
  height: 100px;
  color: #eeeeee;
  border: 4px solid #eeeeee;
  border-radius: 50px;
  background-color: transparent;
  font-size: 25pt;
  font-weight: 600;
  margin: 50px 0;
  outline: none;
  cursor: pointer;
}
.fourth-button2 {
  width: 25%;
  height: 100px;
  color: #14cc70;
  border: 4px solid #eeeeee;
  border-radius: 50px;
  background-color: #eeeeee;
  font-size: 25pt;
  font-weight: 600;
  margin: 50px 0;
  outline: none;
  cursor: pointer;
}
.main-fifth-container {
  width: 100%;
  height: 1400px;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 200px 0;
}
.fifth-title {
  width: 40%;
  font-size: 40pt;
  color: #6c7380;
  padding-bottom: 100px;
  border-bottom: 1px solid #b2b2b2;
  text-align: center;
}
.fifth-title h3 {
  font-weight: 500;
}
.fifth-images-container {
  width: 90%;
  display: flex;
  flex-flow: column;
  margin-top: 100px;
}
.fifth-images {
  width: 100%;
  display: flex;
}
.fifth-text {
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin-left: 50px;
}
.fifth-text h3 {
  width: 50%;
  color: #14cc70;
  font-size: 40pt;
  font-weight: 600;
}
.fifth-text p {
  width: 85%;
  color: #6c7380;
  font-size: 30pt;
  font-weight: 300;
}
.fifth-image1 {
  width: 100%;
  height: 700px;
  background-image: url(/images/laptop.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}
.fifth-image2 {
  width: 100%;
  height: 700px;
  background-image: url(/images/img2.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}
